*{
    margin: 0;
    font-family: arial;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(image/amazon.png);
    background-size: cover;
    height: 30px;
    width: 100px;
}
.border{
    border: 20px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}